{block content}
    <h1 n:block="title">Můj blog</h1>

	<a n:href="Android:show">android</a>
    <div n:foreach="$student as $student" class="student">
		<h2>ID: {$student->id}</h2>
		<p>Věk: {$student->age}</p>
		<p>Jméno: {$student->firstname}</p>
		<p>Příjmení: <a n:href="Post:show $student->id">{$student->lastname}</a></p>
		
	</div>
	
{/block}
